.page {
  padding-bottom: $float-bottom-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &>.title {
      font-size: 1.75rem;
      color: var(--primary-text-color);
    }
    &>.right {
      .button-location {
        min-height: 2.5rem;

        display: flex;
        align-items: center;

        .location-text {
          margin-right: .5rem;
          text-align: right;

          &>.description {
            font-size: .75rem;
            margin-bottom: .3125rem;
          }
          &>.title {}
        }
      }
    }
  }

  &>.content {
    .post-list {
      padding-bottom: 1rem;
    }
  }
}