.page-wrap {
  display: flex;
  flex-direction: column;

  padding-bottom: $bottom-nav-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: 5rem;
    margin-top: .5rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .title {
      font-size: 2rem;
      color: var(--primary-text-color);
    }
  
    .right {
      .location {
        display: flex;
        align-items: center;

        .text-wrap {
          margin-right: .3125rem;
    
          p {
            text-align: right;

            &:first-child {
              font-size: .8125rem;
              margin-bottom: .375rem;
            }
          }
        }
      }
    }
  }

  .feed-list {
    padding-bottom: 1rem;
  }
}