.page-wrap {
  display: flex;
  flex-direction: column;

  padding-bottom: $bottom-nav-height;
}

.page-header {
  width: 100%;
  padding-left: $padding-horiz;
  padding-right: $padding-horiz;

  height: 5rem;
  margin-top: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 0;

    font-size: 2rem;
    letter-spacing: -0.333333px;

    color: var(--primary-text-color);
  }

  .right {
    display: flex;
    align-items: center;
    
    .location {
      margin-right: .6125rem;

      display: flex;
      flex-direction: column;

      p {
        align-self: flex-end;

        margin: 0;
        line-height: 1.25rem;

        white-space: pre;
        letter-spacing: -0.333333px;

        &:first-child {
          font-size: .8125rem;
        }
      }
    }
  }
}