.post-item + .post-item {
  border-top: 1px solid #eee;
}
.post-item {
  width: 100%;
  padding-left: $padding-horiz;
  padding-right: $padding-horiz;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;

  position: relative;
  &>.link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &>.header {
    margin-bottom: 1rem;

    height: 2.5rem;
    display: flex;
    justify-content: space-between;
  
    .shop {
      z-index: 1;

      display: flex;
      align-items: center;
  
      .thumb {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .625rem;
        border-radius: 100%;
        background-size: cover;

        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      }
  
      .text-wrap {
        .name {
          width: fit-content;
          font-size: .875rem;
        }
        .date {
          margin-top: .375rem;
          font-size: .75rem;
          color: #666;
        }
      }
    }
  
    .profile {
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .chip {
        display: flex;
        align-items: center;

        //border-radius: .75rem;
        //background-color: #ddd;

        height: 1.375rem;
        //padding: 0 .1875rem;
        
        .thumb {
          width: 1rem;
          height: 1rem;
          border-radius: 100%;

          //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);

          background-color: #ddd;
          background-size: 75%;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: .75rem;
          line-height: 1rem;
        }
        
        .name {
          //margin: 0 .5rem;
          margin-left: .5rem;
          font-size: .8125rem;
        }
      }

      .location {
        font-size: .75rem;
        margin-top: .0625rem; //.25rem;
        color: #666;
      }

      &.me,
      &.follower {
        .chip {
          .name {
            font-weight: 700;
          }
        }
      }
    }
  }

  .tag-wrap {
    z-index: 1;

    margin-bottom: 1.25rem;

    display: flex;
    align-items: center;

    .tags {
      margin: 0;
      padding: 0;
      padding-left: .25rem;
  
      display: inline-flex;
      align-items: center;
  
      .tag {
        margin-left: .25rem;
  
        height: 1.25rem;
        padding: 0 .4375rem;
        border: 1px solid #999;
        border-radius: .625rem;
        color: #666;
  
        font-size: .8125rem;
  
        display: flex;
        align-items: center;
        line-height: 1;
      }
    }
  }

  &>.body {
    margin-bottom: 1.5rem;

    .text {
      color: var(--primary-text-color);

      font-size: .875rem;
      line-height: 1.5;
    }

    .images {
      margin-top: 1.25rem;
      margin-left: -$padding-horiz;
      margin-right: -$padding-horiz;
    }
  }

  &>.footer {
    display: flex;
    flex-direction: column;

    .buttons {
      z-index: 1;

      width: 100%;
      display: flex;
  
      .button {
        &:not(:first-child) {
          margin-left: .5rem;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 2.5rem;
        height: 2.5rem;
  
        p {
          font-size: .8125rem;
          margin-left: .25rem;
        }
      }
    }
  
    .comment {
      margin-top: 1rem;

      display: flex;
      align-items: center;
      width: 100%;
    
      .thumb {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .625rem;
        border-radius: 100%;

        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);

        background-color: #ddd;
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
      
      p {
        font-size: .8125rem;
        line-height: 1.25rem;
      }
    }
  }
}