.page {
  padding-bottom: $float-bottom-height + 1rem;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &>.title {
      font-size: 1.75rem;
    }
    &>.right {
      display: flex;
      align-items: center;
    }
  }

  &>.content {
    .post-list {
      padding-bottom: 1rem;
    }
  }
}