.bottom-nav {
  box-shadow: 0 -1px 3rem rgba(0, 0, 0, .125);

  position: relative;
  &>.border {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5px;
  }

  background-color: rgba(255, 255, 255, .75);
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);

  height: $bottom-nav-height + 10rem;
  margin-bottom: -3rem;

  .buttons {
    display: flex;

    &>.button {
      flex: 1;
      height: $bottom-nav-height;

      display: flex;
      justify-content: center;
      align-items: center;

      .icon.badge {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -.3125rem + .5rem;
          right: -.3125rem + .5rem;
          height: .5rem;
          width: .5rem;
          border-radius: 100%;
          background-color: var(--content-text-color);
        }
      }
    }
    &>.button.button-write {
      .icon {
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        background-color: var(--content-text-color);
        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
  
        ::v-deep {
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}