.page {
  &>.navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid #eee;
  
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    .button-back {
      z-index: 1;
  
      position: absolute;
      left: .25rem;
  
      height: 4rem;
      width: 4rem;
    }
  
    .title {
      font-size: 1.125rem;
      font-weight: 700;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &>.content {
    padding-top: 4rem;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;

    .settings-list>* {
      margin-top: .5rem;
      height: 3rem;
    }
    .settings-item {
      display: flex;
      align-items: center;

      color: var(--primary-text-color);

      .text-wrap {
        .title {
          width: fit-content;
          font-size: 1rem;
        }
        .info {
          margin-top: .3125rem;
          font-size: .8125rem;
          color: #666;
        }
      }

      &.danger {
        .text-wrap {
          .title {
            color: rgb(237, 92, 94);
          }
          .info {
            color: rgb(237, 92, 94);
          }
        }
      }
    }
  }
}