#float {
  .float-bottom {
    background-color: var(--float-background-color);
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    box-shadow: var(--nav-shadow-color);

    border-top: 1px solid transparent;
    position: relative;
    &>.border {
      z-index: 1;
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      height: 1.5px;
    }

    &>.buttons {
      display: flex;

      &>.button {
        flex: 1;
        height: $float-bottom-height;

        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 2.5rem;
          height: 2.5rem;

          &.badge {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -.3125rem + .5rem;
              right: -.3125rem + .5rem;
              height: .5rem;
              width: .5rem;
              border-radius: 100%;
              background-color: var(--content-text-color);
            }
          }
        }
      }
      &>.button.button-write {
        .icon {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
          background-color: var(--content-text-color);
    
          ::v-deep {
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}