.modal-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-menu-item + .modal-menu-item {
    border-top: 1px solid var(--border-color);
  }
  .modal-menu-item {
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &[data-danger] {
      p {
        color: var(--danger-color);
      }
    }

    &:active {
      background-color: var(--border-color);
    }
  }
}