.page-wrap {
  display: flex;
  flex-direction: column;

  padding-bottom: $bottom-nav-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
    margin-top: .5rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
  
      font-size: 2rem;
  
      color: var(--primary-text-color);
    }
  }
}

.float-header {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  &.hide {
    top: -$page-header-height;
  }
  transition: top .2s ease;

  height: $page-header-height;
  margin-top: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-back {
    position: absolute;
    left: 1rem;
  
    width: 3rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, .625);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(238, 238, 238, .5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
  }
}

.float-footer {
  z-index: 1;
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: $bottom-nav-height + 1.5rem;
  &.hide {
    bottom: 1.5rem;
  }
  transition: bottom .2s ease;

  height: 3rem;

  &>[class*="frame"] {
    height: 100%;

    &.frame-main {
      display: flex;
      justify-content: space-between;

      &>* {
        border-radius: 1.5rem;
        background-color: rgba(255, 255, 255, .625);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border: 1px solid rgba(238, 238, 238, .5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      }
  
      .button-comment {
        display: flex;
        align-items: center;

        p {
          margin-left: .25rem;
          margin-right: .25rem;
          font-size: .875rem;
        }

        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    &.frame-comment {
      display: flex;
      align-items: stretch;
      padding-left: .625rem;
      padding-right: .625rem;

      border-radius: 1.5rem;
      background-color: rgba(255, 255, 255, .625);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      border: 1px solid rgba(238, 238, 238, .5);
      box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
  
      .comment-input-box {
        margin-left: .375rem;
        margin-top: auto;
        margin-bottom: auto;
        flex: 1;

        display: flex;
        align-items: center;

        height: 2rem;
        border-radius: 1rem;

        background-color: rgba(0, 0, 0, .1825);

        padding-left: .5rem;
        padding-right: .5rem;

        input[type="text"] {
          all: unset;
          
          flex: 1;
          margin-left: .375rem;
          margin-right: .375rem;
          font-size: .875rem;
        }
      }
    }
  }
}