.page {
  padding-bottom: $float-bottom-height + $page-header-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>.title {
      font-size: 1.75rem;
      color: var(--primary-text-color);
    }
    &>.right {
      .button-more {
        margin-right: -.5rem;
      }
    }
  }
}


#float {
  .float-header {
    &-frame.frame-1 {
      .button-back {      
        background-color: rgba(255, 255, 255, .75);
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(.5rem);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
        border-radius: 1.5rem;
    
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
      }
      .button-back {
        width: 3rem;
      }
    }
  }
  .float-footer {
    &-frame.frame-1 {
      .button-comment,
      .button-scrap {
        background-color: rgba(255, 255, 255, .75);
        -webkit-backdrop-filter: blur(.5rem);
        backdrop-filter: blur(.5rem);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
        border-radius: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
      }

      .button-comment {
        padding: 0 1.25rem;
        p {
          margin-left: .5rem;
          font-size: .875rem;
        }
      }
      .button-scrap {
        width: 3rem;
      }
    }
    &-frame.frame-2 {
      background-color: rgba(255, 255, 255, .75);
      -webkit-backdrop-filter: blur(.5rem);
      backdrop-filter: blur(.5rem);
      box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      border-radius: 1.5rem;

      height: 3rem;

      position: relative;
      .button-back {
        z-index: 1;
        position: absolute;
        left: 0;

        height: 3rem;
        width: 3rem;
      }
      .button-comment-send {
        z-index: 1;
        position: absolute;
        right: .375rem;

        height: 3rem;
        width: 3rem;
      }
      .comment-input-box {
        position: absolute;
        left: 3rem;
        right: .375rem;
        top: .375rem;
        bottom: .375rem;

        height: 2.25rem;
        border-radius: 1.125rem;

        background-color: rgb(238, 238, 238);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);

        display: flex;
        align-items: center;

        padding-left: 1rem;
        padding-right: 3rem;

        input[type="text"] {
          width: 100%;
          font-size: .9375rem;
        }
      }
    }
  }
}