.page {
  &>.content {
    padding-top: $float-bottom-height + 1rem;
    padding-bottom: $float-bottom-height + 1rem;
  }
}
#float {
  .float-top {
    background-color: var(--float-background-color);
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    box-shadow: var(--nav-shadow-color);

    display: flex;
    align-items: center;
    justify-content: center;

    &>.title {
      font-size: 1rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &>.button-back {
      .icon {
        height: 3rem;
        width: 3rem;
      }

      position: absolute;
      left: .5rem;
    }
  }
}


.notice-list {
  .notice-item + .notice-item {
    margin-top: .5rem;
  }
  .notice-item {
    height: 5rem;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;

    display: flex;
    align-items: center;

    .icon {
      margin-left: -.5rem;
  
      height: 2.5rem;
      width: 2.5rem;

      &.badge {
        position: relative;
  
        &::after {
          position: absolute;
          top: -.3125rem + .5rem;
          right: -.3125rem + .5rem;
  
          content: "";
          width: .5rem;
          height: .5rem;
          background-color: var(--content-text-color);
          border-radius: 100%;
        }
      }
    }
    .text-wrap {
      margin-left: .75rem;
      flex: 1;
  
      .message {
        font-size: .9375rem;
        line-height: 1.25;
      }
      .time {
        font-size: .8125rem;
        margin-top: .25rem;
        color: var(--secondary-text-color);
      }
    }
  }
}