@import "../../variables";

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

button, input, select {
  all: unset;
}

p {
  display: flex;
}

.point-color {
  color: #FF865E;
}

.point-background {
  background-color: #FF865E;
}

.header {
  display: flex;
  width: inherit;
  flex-direction: row;
  position: absolute;
  top: 0;
  margin-left: 20%;
  align-items: center;

  & > p {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.76rem;
    margin-left: 1rem;
  }
  &-before-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.contents {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 0 10%;
  margin-top: -5.28rem;
  align-items: center;

  &-p {
    display: flex;
    flex-direction: column;
    
    & > p {
      font-size: 1.76rem;
      font-weight: 700;
      margin: 0;
    }

    & > p + p {
      margin-bottom: 10vh;
    }
  }

  &-social-p {
  }

  &-social-icon {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
  }


  &-profile {
    position: relative;
    display: flex;
    flex-direction: column;

    &-img {
      width: 5rem;
      height: 5rem;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
      border-radius: 40px;
      background-size: cover;
      background-color: antiquewhite;
    }
    &-icon {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 0;
      bottom: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
    & > p {
      color: #9E9E9E;
      font-size: 0.75rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }

  &-select {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input, &-box {
      height: 2.375rem;
      line-height: 2.375rem;
      background: rgba(97, 97, 97, 0.5);
      border-radius: 10px;
      padding: 8px;
      width: calc(80% - 16px);
      color: var(--primary-text-color);
    }
    &-input {
      display: flex;
      margin-bottom: 1rem;
      ::placeholder {
        color: #DFDFDF;
      }
    }
    &-box {
      display: flex;
    }
  }

  &-button {
    width: 80%;
    height: 3rem;
    border-radius: 0.875rem;
    margin-top: 3rem;
    & > p {
      font-weight: 500;
      justify-content: center;
    }
  }

  &-confirm {
    &-p {
      font-size: 1.76rem;
      font-weight: 700;
    }
    &-email {
      font-size: 0.875rem;
      margin-top: 5px;
    }
  }
}

.bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  bottom: 0;
  margin-bottom: 10%;
  &-p {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    p + p {
      margin-left: 10px;
    }
    & > p {
      font-size: 0.75rem;
    }
  }
  &-button {
    width: 80%;
    height: 3rem;
    border-radius: 0.875rem;
    & > p {
      font-weight: 500;
      justify-content: center;
    }
  }
}