.page {
  &>.navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid #eee;
  
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    .button-back {
      z-index: 1;
  
      position: absolute;
      left: .25rem;
  
      height: 4rem;
      width: 4rem;
    }
  
    .title {
      font-size: 1.125rem;
      font-weight: 700;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &>.content {
    padding-top: 4rem;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  }
}