#page {
  &>.top-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $float-bottom-height;

    @include content-max-width;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    &>.title {
      font-size: 1rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &>.button-back {
      .icon {
        height: 3rem;
        width: 3rem;
      }

      position: absolute;
      left: .5rem;
    }
  }

  &>.content {
    padding-top: $float-bottom-height;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &>.footer {
    padding-bottom: 3rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .help {
      margin-bottom: 1.125rem;

      color: var(--secondary-text-color);
      font-size: .875rem;
  
      button {
        color: var(--content-text-color);
      }
    }
  
    .button-next {
      width: calc(100% - 6rem);

      height: 2.5rem;
      border-radius: 1.25rem;
      background-color: var(--content-text-color);
      &[disabled] {
        background-color: var(--tertiary-text-color);
      }

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: .9375rem;
        font-weight: 700;
        color: var(--background-color);
        letter-spacing: $sparse-letter;
      }
    }
  }
}


.content {
  .description {
    margin-bottom: 1.5rem;

    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;

    text-align: center;
  }
  .social-icon {
    height: 5rem;
    width: 5rem;
  
    border-radius: 100%;

    &.google {
      border: 3px solid #ddd;
      @media (prefers-color-scheme: dark) {
        border: none;
      }
    }
  }
  .email {
    margin-top: .875rem;
    
    font-size: 1rem;
    color: var(--secondary-text-color);
  }
}