.feed-item + .feed-item {
  border-top: 1px solid #eee;
}
.feed-item {
  width: 100%;
  padding-left: $padding-horiz;
  padding-right: $padding-horiz;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;

  position: relative;
  &>.link {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &>.header {
    margin-bottom: 1rem;

    height: 2.5rem;
    display: flex;
    justify-content: space-between;
  
    .profile {
      display: flex;
      align-items: center;
  
      .thumb {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .625rem;
        border-radius: 100%;

        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      }
  
      .text-wrap {
        .name {
          width: fit-content;
          font-size: .875rem;

          &.follower {
            font-weight: 700;
          }
        }
        .date {
          margin-top: .375rem;
          font-size: .75rem;
          color: #666;
        }
      }
    }
  
    .shop {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .shop-icon {
        display: flex;
        align-items: center;

        border-radius: .75rem;
        background-color: #ddd;

        height: 1.375rem;
        padding: 0 .1875rem;
        
        .thumb {
          width: 1rem;
          height: 1rem;
          border-radius: 100%;

          //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
        }
        
        .name {
          margin: 0 .5rem;
          font-size: .8125rem;
        }
      }

      .location {
        font-size: .75rem;
        margin-top: .25rem;
        color: #666;
      }
    }
  }

  .tags-wrap {
    margin-bottom: 1.25rem;

    display: flex;
    align-items: center;

    .tags {
      margin: 0;
      padding: 0;
      padding-left: .25rem;
  
      display: inline-flex;
      align-items: center;
  
      .tag {
        margin-left: .25rem;
  
        height: 1.25rem;
        padding: 0 .4375rem;
        border: 1px solid #999;
        border-radius: .625rem;
        color: #666;
  
        font-size: .75rem;
  
        display: flex;
        align-items: center;
        line-height: 1;
      }
    }
  }

  &>.body {
    margin-bottom: 2rem;

    .text {
      color: var(--primary-text-color);

      font-size: .875rem;

      line-height: 1.4;
    }

    .images {
      margin-top: 1.25rem;
      margin-left: -$padding-horiz;
      margin-right: -$padding-horiz;
    }
  }

  &>.footer {
    display: flex;
    flex-direction: column;

    .buttons {
      width: 100%;
      display: flex;
      margin-bottom: 1.375rem;
  
      .button-label {
        display: flex;
        align-items: center;
  
        p {
          font-size: .8125rem;
          margin-left: .25rem;
        }

        & + .button-label {
          margin-left: .875rem;
        }
      }
    }
  
    .comment {
      display: flex;
      align-items: center;
      width: 100%;
    
      .thumb {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .625rem;
        border-radius: 100%;

        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      }
      
      p {
        font-size: .8125rem;
        line-height: 1.125rem;
      }
    }
  }
}