#float {
  z-index: 10;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.float-header-wrap,
.float-footer-wrap {
  position: absolute;
  left: 0;
  right: 0;
}
.float-header-wrap {
  top: 0;
  &.hide {
    top: -$page-header-height;
  }
  &.hide.has-top {
    top: -$float-bottom-height;
  }
  transition: top .3s ease;
}
.float-footer-wrap {
  bottom: 0;
  &.hide {
    bottom: -$page-header-height;
  }
  &.hide.has-bottom {
    bottom: -$float-bottom-height;
  }
  transition: bottom .3s ease;
}

::v-deep {
  .float-header,
  .float-footer {
    &-frame {
      pointer-events: none;
      &>* {
        pointer-events: auto;
      }

      margin: 1rem;
      display: flex;
      justify-content: space-between;
    }
  }
  .float-header {
    &-frame {
      align-items: flex-start;
    }
  }
  .float-footer {
    &-frame {
      align-items: flex-end;
    }
  }

  .float-top,
  .float-bottom {
    pointer-events: auto;
  }
  .float-top {
    height: $float-bottom-height + 10rem;
    margin-top: -10rem;
    padding-top: 10rem;
  }
  .float-bottom {
    height: $float-bottom-height + 10rem;
    margin-bottom: -10rem;
    padding-bottom: 10rem;
  }
}

#float {
  ::v-deep {
    .float-top,
    .float-bottom {
      transition: box-shadow .5s ease;
    }
  }
}
#float.noshadow {
  ::v-deep {
    .float-top,
    .float-bottom {
      box-shadow: none !important;
    }
    .float-bottom {
      border-top: 1px solid #eee;
    }
  }
}