#backdrop {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  height: calc(100vh - 1rem);

  top: 100vh;
  &.show {
    top: 1rem;
  }
  transition: top .3s ease;

  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

  background-color: #fff;
  /*background-color: rgba(255, 255, 255, .875);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);*/
  box-shadow: 0 -1px 3rem rgba(0, 0, 0, .25);

  &>.header {
    //border-bottom: 1px solid #eee;
  
    z-index: 10;
    height: 4rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    .button-close {
      z-index: 1;
  
      position: absolute;
      right: .25rem;
      height: 4rem;
      width: 4rem;
    }
  
    .title {
      font-size: 1rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &>.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    bottom: 0;
  }
}