#backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &>.backdrop-background {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .625);
    transition: background-color .5s ease-in-out;
  }
  &>.backdrop-content-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform .5s ease-in-out;
    pointer-events: none;
    &>.backdrop-content {
      pointer-events: auto;
    }
  }
  &[data-motion|=hide] {
    &>.backdrop-background {
      background-color: rgba(0, 0, 0, 0);
    }
    &>.backdrop-content-wrap {
      transform: translateY(100%);
    }
  }

  &>.backdrop-content-wrap {
    &>.backdrop-content {
      position: absolute;
      top: 1rem;
      bottom: 0;
      left: 0;
      right: 0;
      
      @include content-max-width;

      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background-color: var(--background-color);
      box-shadow: var(--nav-shadow-border);
      overflow: hidden;

      ::v-deep {
        .backdrop-header {  
          height: $float-bottom-height;
          display: flex;
          align-items: center;
          justify-content: center;
        
          &>.title {
            font-size: 1rem;
        
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &>.button-close {
            display: flex;
            align-items: center;

            margin-left: .25rem;
            margin-right: -1rem;
          }
        }
        .backdrop-body {
          position: absolute;
          left: 0;
          right: 0;
          top: $float-bottom-height;
          bottom: 0;
        }
      }
    }
  }
}