/* fonts */
html {
  --font-family: 'Pretendard Variable', 'Pretendard',
    -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
    Helvetica Neue, Helvetica, Roboto, Noto Sans KR, Malgun Gothic, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}


/* colors */
@mixin light-color-scheme {
  --background-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: rgba(0, 0, 0, .625);        // #666
  --tertiary-text-color: rgba(0, 0, 0, .375);         // #999

  --border-color: rgba(0, 0, 0, .075);                // #eee;
  --shadow-to-border-color: 0px 0px 1px rgba(0, 0, 0, .5);
  --nav-shadow-color: 0 0 2rem rgba(0, 0, 0, .125);
  --float-background-color: rgba(255, 255, 255, .875);
  --float-shadow-color: 0 1px .375rem rgba(0, 0, 0, .25);
}

@mixin dark-color-scheme {
  --background-color: rgb(30, 32, 34);                // #232326;
  --primary-text-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, .625);  // #999;
  --tertiary-text-color: rgba(255, 255, 255, .375);   // #777;

  --border-color: rgba(255, 255, 255, .075);          // rgb(47, 49, 50);
  --shadow-to-border-color: 0px 0px 1px rgba(255, 255, 255, .5);
  --nav-shadow-color: 0 0 2rem rgba(255, 255, 255, .0625);
  --float-background-color: rgba(30, 32, 34, .875);
  --float-shadow-color: inset 0px 0px 1px rgba(255, 255, 255, 1), inset 0px 0px 1px rgba(255, 255, 255, 1);
}


html {
  --content-text-color: rgba(255, 134, 94);
  --danger-color: rgb(237, 92, 94);
  
  // light
  @include light-color-scheme;

  // dark
  @media (prefers-color-scheme: dark) {
    @include dark-color-scheme;
  }
}

.light {
  @include light-color-scheme;
}
.dark {
  @include dark-color-scheme;
}