@import "./variables";
@import "./pretendardvariable";


html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-text-color);
}