$font-family: 'Pretendard Variable', 'Pretendard',
  -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
  Helvetica Neue, Helvetica, Roboto, Noto Sans KR, Malgun Gothic, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;

$page-header-height: 5rem;
$float-bottom-height: 3rem;
$padding-horiz: 1.5rem;

$sparse-letter: .125rem;


@mixin text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin content-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-max-width;
}

@mixin button-default {
  display: flex;
  align-items: center;
  color: var(--background-color);
  background-color: var(--content-text-color);

  flex-shrink: 0;
  
  font-size: .75rem;
  font-weight: 700;

  height: 1.5rem;
  border-radius: .75rem;
  padding: 0 .75rem;
}

$content-max-width: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;
$screen-xl-min: 1280px;

// small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
