$font-family: 'Pretendard Variable', 'Pretendard',
  -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
  Helvetica Neue, Helvetica, Roboto, Noto Sans KR, Malgun Gothic, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;

$page-header-height: 5rem;
$bottom-nav-height: 3rem;
$padding-horiz: 1.5rem;