.page-wrap {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .brand {
    padding: 4rem 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .symbol {
      height: 8rem;
    }
    .logotype {
      height: 3rem;
  
      margin-top: -.5rem;
    }
    .description {
      font-size: 1.25rem;
      margin-top: 1.5rem;
    }
  }
  
  .social {
    padding: 1rem 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .description {
      font-size: .875rem;
      margin-bottom: 1.25rem;
    }
  
    .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: row;
  
      .social-icon + .social-icon {
        margin-left: 1.5rem;
      }
      .social-icon {
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
  
        img {
          height: 3.5rem;
          width: 3.5rem;
        }
      }
    }
  }
}