main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  .socials-wrap {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 5rem;
  }
}


.brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  .symbol {
    height: 8rem;
    width: 8rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .logotype {
    height: 3rem;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: -.5rem;
  }
  .description {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
}

.socials {
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 0;
  margin: 0;

  .icon {
    margin-left: .75rem;
    margin-right: .75rem;

    border-radius: 1.75rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);

    img {
      display: block;

      width: 3.5rem;
      height: 3.5rem;
    }
  }
}