.image-slider {
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;

  .slides {
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    @include md {
      width: $content-max-width;
    }
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  
    &>div {
      scroll-snap-align: start;
  
      .image {
        width: 100vw;
        @include md {
          width: $content-max-width;
        }
        height: 17.5rem;
        background-size: cover;
        background-position: center;
      }
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .indicator {
    position: absolute;
    bottom: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  
    div {
      box-shadow: 0 1px .375rem rgba(0, 0, 0, .5);
      width: .375rem;
      height: .375rem;
      border-radius: .1875rem;
      background: rgba(255, 255, 255, .5);
      -webkit-backdrop-filter: blur(.5rem);
      backdrop-filter: blur(.5rem);
  
      transition: width .2s ease-in-out;
  
      &.highlight {
        width: 1rem;
        background: rgba(255, 255, 255, 1);
      }
    }
  }
}