#page {
  padding-bottom: $float-bottom-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &>.title {
      font-size: 1.75rem;
    }
    &>.right {
      display: flex;
      align-items: center;
    }
  }

  &>.content {
    .post-list {
      padding-bottom: 1rem;
    }
  }
}


.drawer {
  pointer-events: none;
  &>* {
    pointer-events: auto;
  }
  
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .tf-frame {
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;

    transition: all .3s ease;

    &>.header {
      height: $page-header-height;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      &>.title {
        font-size: 1.75rem;
      }
      &>.right {
        display: flex;
        align-items: center;
      }
    }

    .tf {
      transition: all .3s ease;
    }

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    &>* {
      pointer-events: auto;
    }
  }
  .tf-frame.tf-frame-1,
  .tf-frame.tf-frame-2 {
    pointer-events: auto;
  }
  .tf-frame.tf-frame-2 {
    background-color: var(--background-color);

    .button-search {
      position: absolute;
      bottom: $padding-horiz;
      left: $padding-horiz;
      right: $padding-horiz;
    
      height: 3rem;
      border-radius: 1.5rem;
      background-color: var(--content-text-color);
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      p {
        font-size: 1rem;
        font-weight: 700;
        color: var(--background-color);
        letter-spacing: $sparse-letter;
      }
    
      .icon {
        margin-right: .5rem;
    
        ::v-deep {
          svg {
            fill: var(--background-color);
          }
        }
      }
    }

    ::v-deep {
      .tag-list {
        margin-top: 1.5rem;
      }
    }
  }
  .tf-frame.tf-frame-3 {
    top: 1rem - $page-header-height;
    &.hide {
      top: 1rem - $page-header-height - $page-header-height;
    }

    .tf {
      margin-left: -.5rem;
      margin-right: -.5rem;
      background-color: var(--float-background-color);
      -webkit-backdrop-filter: blur(.5rem);
      backdrop-filter: blur(.5rem);
      box-shadow: var(--float-shadow-color);
    }

    .tf-box {
      right: 0rem;
      height: 3rem;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;

      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      ::v-deep {
        .tag-list {
          flex-wrap: nowrap;
          overflow: visible;
        }
      }
    }
  }
}


.tag-list-group,
.history-list-group {
  margin-top: 2.5rem;

  &>.subheader {
    font-size: .75rem;
    color: var(--secondary-text-color);
    font-weight: 700;
    margin-bottom: 1.25rem;

    letter-spacing: $sparse-letter;
  }
  &>.list {
    margin-top: -.5rem;
    
    &>.item {
      height: 2.5rem;
      border-bottom: 1px solid var(--border-color);

      display: flex;
      align-items: center;

      &>.button-delete-item {
        margin-left: auto;

        height: 2.5rem;
        width: 2.5rem;
        margin-right: -.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          ::v-deep {
            svg {
              height: 1.25rem;
              width: 1.25rem;
              fill: var(--secondary-text-color);
            }
          }
        }
      }
    }
  }
}