.page-wrap {
  display: flex;
  flex-direction: column;

  padding-bottom: $bottom-nav-height;

  &>.header {
    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;
  
    height: $page-header-height;
    margin-top: .5rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .brand {
      height: 2rem;
    }

    .right {
      display: flex;
      align-items: center; 
    }

    .button-noti {
      &, //
      &.badge {
        position: relative;

        &::after {
          position: absolute;
          top: -.0625rem;
          right: -.0625rem;

          content: "";
          width: .5rem;
          height: .5rem;
          background-color: var(--content-text-color);
          border-radius: 100%;
        }
      }
    }
    .button-settings {
      margin-left: .75rem;
    }
  }

  &>.profile-wrap {
    padding-top: 1rem;

    width: 100%;
    padding-left: $padding-horiz;
    padding-right: $padding-horiz;

    .profile {
      margin-bottom: .75rem;

      display: flex;
      align-items: center;
  
      .thumb {
        width: 3rem;
        height: 3rem;
        margin-right: .625rem;
        border-radius: 100%;

        //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
      }
  
      .text-wrap {
        .name {
          width: fit-content;
          font-size: 1rem;
          font-weight: 700;

          display: flex;
          align-items: center;

          &::after {
            content: "나";
            font-weight: 400;
            font-size: .6825rem;
            color: #666;
            border: 1px solid #666;
            border-radius: 1rem;
            padding: .125rem .375rem;
            margin-left: .375rem;
          }
        }
        .email {
          margin-top: .3125rem;
          font-size: .8125rem;
          color: #666;
        }
      }
    }

    .row + .row {
      border-top: 1px solid #eee;
    }
    .row {
      display: flex;
      align-items: center;

      height: 3.5rem;

      .count {
        display: flex;
        align-items: center;
        justify-content: stretch;

        &>* {
          font-size: .8125rem;
        }
        p {
          margin-left: .25rem;
        }
      }

      .thumb-wrap {
        display: flex;
        margin-left: 1rem;
  
        .thumb {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: .375rem;
          border-radius: 100%;
  
          //box-shadow: 0 1px 3px rgba(0, 0, 0, .375);
        }
      }

      .button-following {
        font-size: .75rem;
        font-weight: 700;
        color: var(--background-color);
        background-color: var(--content-text-color);

        height: 1.5rem;
        border-radius: .75rem;
        padding: 0 .75rem;

        margin-left: auto;
      }
    }
  }
}