.page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  &>.top-nav {    
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $float-bottom-height;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    &>.title {
      font-size: 1rem;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &>.button-back {
      .icon {
        height: 3rem;
        width: 3rem;
      }

      position: absolute;
      left: .5rem;
    }
  }

  &>.content {
    padding-bottom: 3.5rem;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>.main-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 4rem;
    
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .help {
        margin-bottom: 1.125rem;

        user-select: none;
        color: var(--secondary-text-color);
        font-size: .875rem;
    
        button {
          color: var(--content-text-color);
        }
      }
    
      .button-next {
        width: calc(100% - 6rem);

        height: 3rem;
        border-radius: 1.5rem;
        background-color: var(--content-text-color);

        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 1rem;
          font-weight: 700;
          color: var(--background-color);
          letter-spacing: $sparse-letter;
        }
      }
    }
  }
}


.page {
  &>.content {
    .menu-thumb-group,
    .menu-name-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .description {
        user-select: none;
        font-size: .9375rem;
        color: var(--secondary-text-color);
        margin-top: .875rem;
      }
    }

    .menu-thumb-group {
      .menu-thumb {
        margin-top: -1rem;
        margin-bottom: -1rem;

        height: 10rem;
        width: 6rem;
        position: relative;

        .thumbs {
          display: flex;
          flex-direction: column;
          align-items: center;

          &.move {
            .thumb {
              transition: all .3s ease;
            }
          }

          .thumb {
            border-radius: 100%;
            border: 2px solid var(--background-color);
  
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: var(--border-color);
            user-select: none;
          }

          .thumb:nth-child(1) {   // move-in candidate
            z-index: 0;
            height: 0;
            width: 0;
            line-height: 0;
            font-size: 0;
            margin-bottom: 0;
            opacity: 0;
          }
          .thumb:nth-child(2) {
            z-index: 1;
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            font-size: 2.25rem;
            margin-bottom: -1.5rem;
            opacity: .3;
          }
          .thumb:nth-child(3) {
            z-index: 2;
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
            font-size: 3rem;
            margin-bottom: -1.5rem;
            opacity: .6;
          }
          .thumb:nth-child(4) {
            z-index: 3;
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 3.75rem;
            margin-bottom: -2rem;
            opacity: 1;
          }
          .thumb:nth-child(5) {   // move-out candidate
            z-index: 4;
            height: 6rem;
            width: 6rem;
            line-height: 6rem;
            font-size: 4.5rem;
            opacity: 0;
          }
        }

        .thumb-refresh-icon {
          z-index: 4;
          position: absolute;
          right: .375rem;
          bottom: 1rem - .125rem;
  
          background-color: var(--content-text-color);
          border: 1px solid var(--background-color);
          
          border-radius: 100%;
          height: 1.625rem;
          width: 1.625rem;
  
          display: flex;
          justify-content: center;
          align-items: center;
  
          .icon {
            ::v-deep {
              svg {
                height: 1.25rem;
                width: 1.25rem;
                fill: var(--background-color);
              }
            }
          }
        }
      }
    }

    .menu-name-group {
      margin-top: 3rem;
      height: 5rem;

      .menu-name {
        pointer-events: none;
        &>* {
          pointer-events: auto;
        }
      
        z-index: 10;
        width: 100%;
        height: 3rem;
      
        .tf-frame {
          padding-left: 3rem;
          padding-right: 3rem;
      
          pointer-events: none;
          &>* {
            pointer-events: auto;
          }

          transition: background-color .3s ease;
      
          .tf {
            transition: background-color .3s ease;
            
            .name-first.tf-box,
            .name-last {
              height: 100%;
              position: absolute;
            }
            .name-first.tf-box {
              text-align: center;
            }
            .name-last {
              background-color: var(--background-color);
              border-top-right-radius: 1.5rem;
              border-bottom-right-radius: 1.5rem;
          
              display: flex;
              align-items: center;

              &.move-in {
                background-color: var(--border-color);
              }
              &.move-out {
                transition: background-color .3s ease;
              }
          
              .field {
                position: absolute;
                left: 0;
                right: .75rem;
          
                font-size: .9375rem;
                text-align: center;
                user-select: none;
              }
          
              .name-refresh-icon {
                position: absolute;
          
                right: 0rem;
          
                .icon {
                  height: 2.5rem;
                  width: 2.5rem;
                  ::v-deep {
                    svg {
                      height: 1.5rem;
                      width: 1.5rem;
                      fill: var(--content-text-color);
                    }
                  }
                }
              }
            }
          }
        }
        .tf-frame.tf-frame-1 {
          .tf {
            border: 2px solid var(--content-text-color);
            background-color: transparent;
          
            .name-first {
              left: 1rem;
              right: 50%;
            }
            .name-last {
              right: 0;
              left: calc(50% + 1px);
              border-left: 2px solid var(--content-text-color);
            }
          }
        }
        .tf-frame.tf-frame-2 {
          pointer-events: auto;
          background-color: var(--background-color);
      
          position: absolute;
          left: 0;
          right: 0;
          top: $float-bottom-height + 1rem;
          bottom: 0;
      
          .tag-list-group {
            margin-top: .75rem;
      
            &>.list {
              &>.item {
                display: flex;
                justify-content: center;
      
                height: 2.5rem;
                border-bottom: 1px solid var(--border-color);
      
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}